a {
  color: white; }

.main {
  border: black;
  background: yellow; }

a {
  color: white; }

a {
  color: white; }

a {
  color: white; }

a {
  color: white; }

a {
  color: white; }

a {
  color: white; }

a {
  color: white; }

a {
  color: white; }

a {
  color: white; }

body {
  color: black;
  border: black;
  background: black;
  margin: 0; }
